.bucket {
	margin-top: -51px !important;
	background-color: #393e46 !important;
	min-height: calc(100vh - 52px) !important;
	min-width: calc(100vw - 75%) !important;
}
.bucketlist {
	border-radius: 8px;
	background: #333333;
	padding: 10px;
	padding-bottom: 2px !important;
	width: 600px;
}
.border-info {
	display: flex;
}
.bucket-card {
	border-bottom: 1px solid #656565;
}
.total-credits {
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
	margin-top: 12px;
}
.total-credits-less {
	font-size: 23px;
	color: #e94f64;
	font-weight: bold;
}
.total-credits-more {
	font-size: 23px;
	color: #46bcde;
	font-weight: bold;
}
.bucket-title {
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px;
	max-width: fit-content;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	background: #00adb5;
	color: #f0f0f0;
}
.bucket-header {
	display: flex;
	justify-content: space-between;
}
