.select-year {
	font-size: 25px;
	color: #e94f64;
	padding-left: 10rem;
}
.arrow {
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
}
.select-main {
	display: flex;
	margin-top: 25px;
	cursor: pointer;
}
.year-dropdown {
	padding: 5px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	z-index: 10;
	background: #333333;
	cursor: pointer;
}
.year-dropdown:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.year-dropdown:hover {
	color: #e94f64;
}
.select-list {
	position: absolute;
	padding-left: 10rem;
	width: 155px;
}
